@mixin centerFlex($type) {
  display: flex;

  @if $type == "horizontal" {
    justify-content: center;
  } @else if $type == "vertical" {
    align-items: center;
  } @else if $type == "both" {
    justify-content: center;
    align-items: center;
  }
}

